.hero {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  background-image: url("../../../assets/hero_idea_2.png");
  background-size: cover;
  background-position: center;
  padding-left: 180px;
  padding-top: 150px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure the overlay is behind the content */
}

.hero-content {
  position: relative;
  z-index: 2; /* Increased to ensure it's above the overlay */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between logo and search bar */
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Increased from 500px to make it longer */
  background: rgb(57, 57, 57);
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 12px 120px;
  font-size: 1rem;
  border-radius: 50px;
  outline: none;
  background: transparent;
  color: white;
}

.search-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  margin-left: auto; /* Push icon to the far right */
  border-radius: 50%;
}



.search-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.ai-button{
  padding-right: 10px;
  cursor: pointer;
}

.ai-icon{
  width: 20px;
}

